commands:
  add_packs_location_to_nginx:
    command: |
      grep packs /opt/elasticbeanstalk/config/private/nginx/webapp.conf || sed -i '$a\\nlocation /packs {\n    alias /var/app/current/public/packs;\n    gzip_static on;\n    gzip on;\n    expires max;\n    add_header Cache-Control public;\n}' /opt/elasticbeanstalk/config/private/nginx/webapp.conf

files:
  "/etc/nginx/conf.d/my_custom_config.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server_tokens off;
      types_hash_max_size 2048;
      types_hash_bucket_size 128;